@model WebApplication9.Models.cards

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/js/Edit.js")
@Scripts.Render("~/bundles/fabricjs")

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>cards</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.USER_ID, "USER_ID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.AspNetUsers.UserName)
                @Html.ValidationMessageFor(model => model.USER_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.layout_id, "layout_id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("layout_id", String.Empty)
                @Html.ValidationMessageFor(model => model.layout_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.text, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.text)
                @Html.ValidationMessageFor(model => model.text)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.ITEM_TYPE, "ITEM_TYPE_ID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ITEM_TYPE_ID", String.Empty)
                @Html.ValidationMessageFor(model => model.ITEM_TYPE)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.CARD_CLAIMS, "COLOR_CLAIM", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("COLOR_CLAIM", String.Empty)
                @Html.ValidationMessageFor(model => model.CARD_CLAIMS)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.CARD_CLAIMS, "STYLE_CLAIM", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("STYLE_CLAIM", String.Empty)
                @Html.ValidationMessageFor(model => model.CARD_CLAIMS)
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.CARD_CLAIMS, "GROUP_CLAIM", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("GROUP_CLAIM", String.Empty)
                @Html.ValidationMessageFor(model => model.CARD_CLAIMS)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.published, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.published)
                @Html.ValidationMessageFor(model => model.published)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.image, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="hidden" id="cardId" value="@ViewBag.EditLayoutId" />

                @Html.HiddenFor(model => model.image)
                <canvas id="canvas" width="400px" height="300px"></canvas>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="save" value="Save" class="btn btn-default" />
                <input type="submit" id="saveNew" value="SaveAsNew" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
