@model WebApplication9.Models.ImageViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/scripts/jquery-1.10.2.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
@section Scripts{

    <script type="text/javascript">
        $('#upload').change(function (e) {
            if (this.files && this.files[0])
            {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#preview').attr('src', e.target.result);
                }

                reader.readAsDataURL(this.files[0]);
            }
        });
    </script>
}

<h2>Create</h2>


<form action="" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true);
    <div class="form-horizontal">
        <h4>elements</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.ImageUpload, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.ImageUpload, new { type = "file", id ="upload" })             
                @Html.ValidationMessageFor(model => model.ImageUpload)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.type_name_id, "type_name_id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("type_name_id", String.Empty)
                @Html.ValidationMessageFor(model => model.type_name_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.item_layout_id, "item_layout_id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.item_layout_id, (SelectList)ViewBag.item_layout_id, String.Empty)
                @Html.ValidationMessageFor(model => model.item_layout_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.item_type_id, "item_type_id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.item_type_id, (SelectList)ViewBag.item_type_id, String.Empty)
                @Html.ValidationMessageFor(model => model.item_type_id)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Предпросмотр",  htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img id="preview" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
    </form>

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
