@model WebApplication9.Models.RegisterViewModel
@{
    ViewBag.Title = "Регистрация";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
      
            <hr />

            <div class="form-group">
                @Html.Label("Email", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        </div>
                        <div class="col-md-6">
                            @Html.ValidationMessageFor(model => model.UserName)
                        </div>
                    </div>

                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-4">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                        <div class="col-md-6">
                            @Html.ValidationMessageFor(model => model.Password)
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-4">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                        <div class="col-md-6">
                            @Html.ValidationMessageFor(model => model.ConfirmPassword)
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        </div>
                        <div class="col-md-6">
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.SurName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.SurName, new { @class = "form-control" })
                        </div>
                        <div class="col-md-6">
                            @Html.ValidationMessageFor(model => model.SurName)
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Phone, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                        </div>
                        <div class="col-md-6">
                            @Html.ValidationMessageFor(model => model.Phone)
                        </div>
                    </div>
                </div>
            </div>



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Register" />
                </div>
            </div>
        }
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
